/* global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

section {
    height: 100%;
    width: 100%;
}

hr {
    width: 100%;
    height: 3px;
    background: #0c0c0c;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    transform: scale(1.2);
}

.sliding-bg {
    position: relative;
    overflow: hidden;
}

.sliding-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: darkgreen;
    transition: left 0.3s;
    z-index: -1;
}

.sliding-bg:hover::before {
    left: 0;
}

.hidden {
    display: none;
}

#temp-message {
    background-color: #fff;
    width: 95%;
    padding: 20px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: fixed;
    top: 20%;
    left: -10%;
    right: -10%;
}

#temp-message h2 {
    color: #333;
}

#temp-message p {
    color: #666;
    margin-bottom: 20px;
}
.apology-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.apology-button:hover {
    background-color: #0056b3;
}

/* header specific styles */
header {
    width: 100%;
    height: 80px;
    padding: 1rem;
    background: rgba(245, 245, 245, .8);
    color: black;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo {
    height: 100%;
    width: auto;
    margin-left: 10%;
    display: flex;
    align-items: center;
}

.logo img {
    height: 3rem;
    width: auto;
}

.logo h3 {
    font-family: "Lobster", cursive;
    padding: -1rem .5rem;
}

#toggler {
    height: 2.5rem;
    width: 2.5rem;
    border: none;
    margin-left: auto;
    margin-right: 20%;
    cursor: pointer;
    display: none;
}

#toggler ion-icon {
    font-size: 2rem;
}

nav {
    margin-left: auto;
    margin-right: 10%;
}

.menu-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 1.5rem;
}

.menu-items a {
    font-family: "Merriweather", sans-serif;
    text-decoration: none;
    color: black;
    position: relative;
}

.menu-items a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: transparent;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.menu-items a:hover::before {
    visibility: visible;
    transform: scaleX(1);
    background-color: darkgreen;
}

#navbar .show {
    display: block;
}

#toggler .highlight {
    border: 3px solid crimson;
}

/* basket specific styles */
#basket-tab {
    position: fixed;
    right: 10px;
    top: 12%;
    z-index: 5;
    width: 50%;
    height: 80vh;
    background: url("https://thumbs.dreamstime.com/b/scooter-fruits-vegetables-basket-close-up-shot-full-196343435.jpg");
    overflow: scroll;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#basket-content {
    background: rgba(245, 245, 245, .5);
    border-radius: 10px;
    height: 100%;
    width: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

#basket-tab h3 {
    font-size: 1.7rem;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* Checkout Button */
#checkout {
    position: relative;
    overflow: hidden;
    background: none;
    color: #333;
    padding: 10px 20px;
    border: 2px solid darkgreen;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    font-weight: 900;
    cursor: pointer;
}

#checkout:hover::after {
    left: 0;
    transform: scale(1.2);
}

#checkout::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(185, 125, 15, .6);
    transition: all 0.3s ease; 
    z-index: 1;
}

  /* Clear Button */
#clear {
    position: relative;
    overflow: hidden;
    background: none;
    color: #333;
    padding: 8px 12px;
    border: 2px solid rgb(185, 125, 15);
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 900;
    cursor: pointer;
}

#clear:hover::after {
    left: 0;
    transform: scale(1.2);
}

#clear::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 100, 0, .6);
    transition: all 0.3s ease;
    z-index: 1;
}

#basket-icon {
    font-size: 2rem;
    color: darkgreen;
    margin: 0;
    padding: 0;
}

#counter {
    color: red;
    margin: 0;
    padding: 0;
}

.item {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.name {
    font-weight: bold;
    color: green;
}

.quantity {
    margin-left: 5px;
    color: red;
}

.price {
    margin-left: 10px;
    color: green;
}

/* CSS for basket summary pop-up */
#order-summary {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
}


#order-summary h2 {
    font-family: 'Arial', sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
}

#order-summary pre {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin-bottom: 20px;
    white-space: pre-wrap;
}

#order-summary button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

/* Close button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* home page specific */
#home {
    margin-top: 3rem;
    padding: 3rem 8% 2rem;
    font-size: large;
    height: 100%;
    display: grid;
    grid-template-rows: 90% 10%;
    grid-template-columns: 50% 50%;
}

#welcome-text {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: .5rem;
}

.text-container {
    width: 100% !important;
    display: flex;
    flex-direction: column;
}

#welcome-text h1 {
    font-family: "Merriweather", serif;
    padding: 2rem;
}

#welcome-text p {
    margin: .5rem 2rem;
}

#home-image {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#home-image img {
    height: 100%;
    width: auto;
}

#home-social {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    padding: 2rem .5rem;
    margin: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#home-social button {
    margin: .5rem 1rem;
    border: none; padding: none;
    background-color: #fff;
}

.social-icon {
    font-size: 2rem;
    transition: all .3s ease-in-out;
    color: darkgreen;
}

#instagram {
    color: #e4405f;
    transition: all .3s ease-in-out;
}

#instagram:hover {
    color: #c93550;
    transform: scale(1.2);
}

#facebook {
    color: #3b5998;
}

#facebook:hover {
    color: #2a447d;
    transform: scale(1.2);
}

#linkedin {
    color: #0077b5;
}

#linkedin:hover {
    color: #016296;
    transform: scale(1.2);
}

#order-now {
    border: 2px solid darkgreen;
    margin: 2rem;
}

/* about specific styles */
#about {
    padding: 2rem;
    margin: 2rem auto 0;
    width: 100%;
    height: 100%;
    background: rgb(182, 206, 182);
    display: flex;
    flex-direction: column;
}

.row {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    gap: 1rem;
}

#about-text {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 1rem;
}

#about-image {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 1rem;
    width: 105%;
    height: 100%;
}

#about-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#about-header {
    width: 100%;
    height: 4rem;
    padding: 2rem 2rem 3rem;
    text-align: center;
    color: black;
    font-family: "Merriweather", serif;
    font-weight: 900;
}

span {
    font-family: "Merriweather", serif;
    font-weight: bold;
}

article {
    padding: 0.7rem 1rem;
}

article p {
    padding: 0.5rem;
    font-family: "Montserrat", sans-serif;
}

.value-icon {
    font-size: x-large;
    color: darkgoldenrod;
}

.readmore-btn {
    background: none;
    border: none;
    color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* ordering process styles */
#orderProcess {
    background: #e3e3e3 center fixed;
    width: 100%;
    height: auto;
    padding: 1rem;
    margin: 0;
}

#orderProcess .content {
    max-width: 80%;
    margin: 2rem auto 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#orderProcess hr {
    width: 50%;
    height: 3px;
    background: crimson;
}


#orderProcess .content p {
    text-align: center;
}

#processList {
    list-style: none;
    margin: 2rem 0;
    display: grid;
    grid-template-rows: repeat(auto);
    gap: 1rem;
}

.processIcon {
    color: darkgreen;
    font-size: 2rem;
}

.highlight {
    color: darkred;
}

/* packages specific styles */
#packages {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem;
    flex-direction: column;
    width: 100%;
    height: auto;
}

#packages-header {
    text-align: center;
    padding: 2rem;
    font-family: "Merriweather", sans-serif;
}

#packages-content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 2rem;
    align-items: center;
}

.package {
    background: rgb(182, 206, 182);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all .3s ease-in-out;
}

.package h3 {
    font-family: "Merriweather", sans-serif;
    margin: 0;
}

.rands {
    color: darkgoldenrod;
    font-size: 1.2rem;
    font-weight: 600;
}

.package:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background-color: aliceblue;
    transform: scale(1.05);
}

.package img {
    width: 100%;
    height: 15rem;
    border-radius: 10px;
}

.add-btn {
    width: 80%;
    height: 2.5rem;
    border: 2px solid darkgreen;
    border-radius: 8px;
    font-family: "Merriweather", sans-serif;
    color: darkgreen;
    text-align: center;
    text-transform: capitalize;
    transition: all .3s ease;
    position: relative;
    overflow: hidden;
}

.add-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 100, 0, .3);
    transition: left 0.3s;
    z-index: 1;
}

.add-btn:hover::before {
    left: 0;
}

.add-btn:hover {
    color: rgb(251, 61, 61);
}

#suggestion {
    padding: 1rem;
    margin-top: 1rem;
    color: darkgreen;
    font-weight: 600;
    font-size: 1.3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;

}

/* contact section specific style */
#contact {
    padding: 3rem;
    background-color: #e3e3e3;
    text-align: center;
}

#contact-header {
    font-family: "Merriweather", serif;
    color: #333;
    margin-bottom: 2rem;
}

#contact-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

#contact-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#contact-form {
    max-width: 400px;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#contact-form textarea {
    resize: vertical;
}

#submit-btn {
    border: 2px solid darkgreen;
}

/* Testimonials section styles */
#testimonials {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

#testimonials-header {
    margin-bottom: 30px;
}

.testimonial {
    max-width: 300px;
    margin: 0 auto 40px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.testimonial p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.testimonial cite {
    font-style: normal;
    color: #666;
    font-size: 14px;
}

/* footer specific style */
footer {
    background: darkgreen;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.quote {
    width: 80%;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 1.1rem;
    color: #fff;
}

.details p {
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    line-height: 2;
    font-size: 1.2rem;
}

#sign-off {
    padding: .5rem;
    width: 100vw;
    background-color: #504e4e;
    text-align: center;
    margin-bottom: 0;
}

#email-link {
    text-decoration: none;
    color: #fff;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    #temp-message {
        background-color: #fff;
        width: 95%;
        padding: 20px;
        margin: auto;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        position: fixed;
        top: 20%;
        left: -10%;
        right: -10%;
    }

    /* basket specific queries */
    #basket-tab {
        width: 80%;
        top: 12%;
        height: 80vh;
    }

    #basket-content {
        padding: 1rem;
    }

    #basket-tab h3 {
        font-size: 1.5rem;
    }

    #checkout,
    #clear {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
    
    /* header specific queries */
    header {
        padding: 0.5rem;
        align-items: center;
    }

    .logo {
        margin: 0 auto;
    }

    #toggler {
        display: inline-block;
        margin: 0 1rem;
        border-radius: 8px;
    }

    #navbar {
        display: none;
        background: darkgreen;
        width: 80%;
        text-align: center;
        margin: 1rem 0;
        padding: 1rem;
        position: absolute;
        top: 90%;
        right: 10%;
        border-radius: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .6);
        z-index: 10;
    }

    .menu-list {
        flex-direction: column;
        gap: 1rem;
    }

    .menu-items {
        margin: 0;
    }

    .menu-items a::before {
        display: none;
    }

    .menu-items a {
        color: aliceblue;
        font-size: 1.2rem;
        transition: all .3s ease-in-out;
    }

    .menu-items a:hover {
        color: coral;
        font-weight: 500;
        font-size: 1.5rem;
    }

    #basket-icon {
        margin-left: .3rem;
    }

    #counter {
        margin: 0 1rem 1rem 0;
    }

    /* home specisfic qeries */
    #home {
        display: flex;
        flex-direction: column;
    }
    #welcome-text {
        height: 90vh;
        text-align: center;
        background: url("https://static.cosaporto.it/media/2020/03/vegfruit-basket.jpg") center fixed;
    }

    #home-image {
        display: none;
    }

    #home-social {
        width: 100%;
        height: auto;
        padding: 1rem;
        margin-bottom: .5rem;
    }
    .text-container {
        background: rgba(245, 245, 245, .6);
        border-radius: 10px;
    }
    
    #welcome-text h1 {
        padding: 2rem;
    }
    
    #welcome-text p {
        margin: .5rem 2rem;
    }

    /* about specific queries */
    #about {
        padding: .5rem;
        margin-top: 0;
    }
    
    .row {
        display: flex;
        flex-direction: column;
    }

    /* packages specific queries */
    #packages {
        padding: .6rem;
    }

    #packages-content {
        overflow: hidden;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, 1fr);
        gap: 1rem;
    }

    /* contact specific styles */
    #contact {
        padding: 2rem;
    }
    
    #contact-content {
        flex-direction: column;
        align-items: center;
    }
    
    #contact-image {
        order: 2;
    }

    /* footer specific queries */
    footer {
        padding: .2rem;
    }
    
    .details p {
        font-size: 1rem;
    }
}
